body {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  font-family: 'raleway'; sans serif;
}

/*Structure*/

#footer {
  display: flex;
  clear: both;

}

/*Elements*/

h1,
#quotes {
  font-family: 'Waiting for the Sunrise', cursive;
}

#quotes {
  font-size: 1.5em;
  width: fit-content;
  transition:2s;

}

#quotes:hover{
  background-color:#F5CEF3;
  width:fit-content;
  transform:scaleY(1.2) translateX(20px);
  text-decoration: underline;

}

#author {
  background-color:#F584CA;
  width: fit-content;
  transition:2s;
}

#author:hover {
  background-color:#F5CEF3;
  width:fit-content;
  transform:scaleY(1.2) translateX(20px);
}
