body {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  font-family: 'raleway'; sans serif;
}

/*Structure*/

#footer {
  display: flex;
  clear: both;

}

/*Elements*/

h1,
#quotes {
  font-family: 'Waiting for the Sunrise', cursive;
}

#quotes {
  font-size: 1.5em;
  width: fit-content;
  transition:1.5s;
}

#quotes:hover{
  background-color:#8ef584;
  width:fit-content;
}

#author {
  background-color:#F584CA;
  width: fit-content;
}